
<h1> <%= @climber.name %> </h1>
<%= image_tag @user.avatar.url(:medium) %>
<p>
<%= @climber.desc %> 
<%= link_to 'Delete', @climber, method: :delete %>
<%= link_to 'Edit', edit_climber_path(@climber) %>
</p>
this is the show page
