<%= form_for :post, url: @path, method: @method do |f| %>
  <p>
    <%= f.label :Title %><br>
    <%= f.text_field :title, :value => @oldTitle %>
  </p>
  <p>
  <%= f.label :AuthorID %><br>
  <%= f.text_field :climber_id, :value => @oldID %>
  </p>

  <div id="toolbar">
  <ul>
    <li class = "italics">Italics</li>
    <li class = "bold">Bold</li>
    <li class = "image">Image</li>
    <li class = "link">Link</li>
  </ul>
  </div>
  <p>
    <%= f.label :Body %><br>
    <%= f.text_area :text, :value => @oldText, class: 'markdown_text_area'%>
  </p>
  <div id="gallery">
  </div>
  <p>
    <%= f.submit %>
  </p>
<% end %>
