<%= form_for :post, url: @path, method: @method do |f| %>
  <p>
    <%= f.label :Title %><br>
    <%= f.text_field :title, :value => @oldTitle %>
  </p>
  <p>
	<%= f.label :AuthorID %><br>
	<%= f.text_field :climber_id, :value => @oldID %>
  </p>
  
  <div id="toolbar">
	<ul>
		<li>Italics</li>
		<li>Bold</li>
		<li>Image</li>
		<li>Link</li>
	</ul>
  </div>
  <p>
    <%= f.label :Body %><br>
    <%= f.text_area :text, :value => @oldText %>
  </p>
  <div id="gallery">
  </div>
  <p>
    <%= f.submit %>
  </p>
<% end %>
