<!DOCTYPE html>
<html>
<head>
  <title>Climb</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<% unless session[:cas_user] %>
<%= link_to("Login", CASClient::Frameworks::Rails::Filter.login_url(controller)) %>
<% else %>
Logout
<% end %>
<br />
<%= yield %>

</body>
</html>
